@import '../abstracts/colors';

.logo-vecernji {
    scale: 1.5;
    height: 80px;
}

.banner {
    position: relative;
    height: 55vw;

    &-desc {
        display: flex;
        flex-direction: column;
    }

    // height: 100vh;

    &--image {
        position: absolute;

        img {
            @media (max-width: $cirleBreakpoint) {
                max-height: 100px;
            }

            @media (max-width: $bannerMobileMax) {
                max-height: 70px;
            }
        }

        &-lights {
            top: 10vw;
            left: 10vw;
        }

        &-snowflake {
            top: 10vw;
            right: -1vw;


            @media (min-width: 1200px) {
                right: 2vw;
            }

            @media (max-width: $bannerMobileMax) {
                right: 18vw;
            }
        }

        &-snowball {
            bottom: 0;
            left: 10vw;

            @media (max-width: $bannerMobileMax) {
                bottom: 12vw;
                left: 15vw;
            }
        }
    }

    &--circle {
        background: $red;
        height: 70vw;
        width: 70vw;
        position: absolute;
        top: -10vw;
        left: -10vw;
        border-radius: 50%;
        z-index: 2;
        max-width: 1455px;
        max-height: 1455px;

        @media (min-width: $bannerMobileMin) {
            &-content {
                height: 40vw;
                margin-top: 13vw;
                width: 40vw;
                margin-left: 15vw;
                display: flex;
                flex-direction: column;

                @media (max-width: $cirleBreakpoint) {
                    width: 50vw;
                    margin-left: 12.5vw;

                }

                .link {
                    width: 110px;
                    margin: 0 auto;
                    margin-top: 5vw;
                }
            }
        }
    }

    &--description {
        text-align: right;
        font-size: 2.5vw;
        margin-bottom: 4vw;

        @media (min-width: $bannerMobileMin) {
            font-size: 20px;
        }
    }

    &-desktop {
        @media (max-width: $bannerMobileMax) {
            display: none;
        }
    }

    &-mobile {
        @media (min-width: $bannerMobileMin) {
            display: none;
        }

        .banner--video {
            height: 80vh;
        }

        video {
            width: 100vw;
            height: 80vh;
            object-fit: cover;
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: -1;
        }
    }

    &-blue {
        background-color: $blue;
    }

    @media (max-width: $bannerMobileMax) {
        &--circle {
            height: 125vw;
            width: 125vw;
            position: relative;
            top: -55vw;
            left: -12.5vw;

            &-content {
                height: 100%;
                display: flex;
                align-items: center;
                flex-direction: column;
                max-width: 80vw;
                margin: 0 auto;
                justify-content: flex-start;
                padding-top: 25px;

                .link {
                    width: 110px;
                    margin: 0 auto;
                    margin-top: 5vw;
                }
            }
        }

    }

    .text-normal {
        @media (max-width: 992px) {
            font-size: 1.75vw;
            line-height: 2.5vw;
        }

        @media (max-width: $bannerMobileMax) {
            font-size: 3.5vw;
            line-height: 4.5vw;
        }
    }

    .btn {
        width: fit-content;
        margin: 50px auto 0;

        @media screen and (min-width: 1100px) {
            margin: 80px auto 0;
        }
    }

    @media (min-width: 1919px) {
        height: 100vh;

        video {
            width: 100vw;
            height: 100vh;
            object-fit: cover;
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: -1;
        }
    }

    @media (max-width:480px) {
        .btn {
            height: fit-content;
            font-size: 15px;
            margin-top: 30px;
            padding: 0 10px;

            img {
                max-height: 22px;
            }
        }
    }

    @media (max-width: $bannerMobileMax) {
        overflow: hidden;
        min-height: 100vh;
    }


 

    @media (orientation: landscape) and (min-width: 1600px){
        height: 100vh;

        video {
            width: 100vw;
            object-fit: cover;
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: -1;
            height: 100%;
        }

        &--circle {
            height: 125vh;
            width: 125vh;
            top: -20vh;
            left: -20vh;

            &-content {
                margin-top: 30vh;
                margin-left: 32.5vh;
                width: 60vh;
            }
        }

        &--image {
            &-lights {
                top: 20vh;
                left: 23vh;
            }

            &-snowflake {
                top: 20vh;
                left: auto;
                right: 5vh;
            }

            &-snowball {
                top: auto;
                bottom: 10vh;
                left: 21vh;
            }
        }
    }

    @media (orientation: portrait) and (min-width: $bannerMobileMin) {
        height: 70vw;
        video {
            width: 100vw;
            object-fit: cover;
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: -1;
            height: 100%;
        }
        &--circle {
            height: 80vw;
            width: 80vw;
            top: -5vw;
            left: -5vw;
        }
    }
}