.footer {
    $this: &;

    &__headline {
        display: grid;
        grid-template-columns: 1fr 170px 1fr;
        align-items: center;
    }

    &__divider {
        height: 1px;
        background-color: $red;
    }

    &__images {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        grid-column-gap: 3rem;
        padding: 0 3rem;

        @media screen and (min-width: 767px) {
            padding: 0;
        }
    }

    @media screen and (min-width: 767px){
        padding: 5rem;
    }

    img {
        max-height: 80px;
    }
}