.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    bottom: 0px;
    transition: all .25s ease-in-out;
    opacity: 0;
    z-index: -1;
    background: rgba(47, 52, 69, 0.7);

    &__item-image {
        object-fit: contain;
        width: 100%;
        height: 82vh;

        @media (max-width: 767px) {
            height: 75vh;
        }
    }

    &-content {
        position: fixed;
        top: 50%;
        left: 50%;
        width: 80%;
        height: 90vh;
        background: #fff;
        transform: translate(-50%, -200%);
        transition: all .25s ease-in-out;
        perspective: 1000;
        outline: 1px solid transparent;
        opacity: 0;
        // border: 3px solid $red;
        // align-items: center;
        // display: flex;

        @media (max-width: 767px) {
            max-width: 100%;
            width: 100%;

        }

        &-text {
            padding: 15px;
        }

        &-close {
            position: absolute;
            right: 15px;
            top: 15px;
            font-size: 26px;
            cursor: pointer;
        }

        &-body {
            padding: 50px 0;
            width: 500px;
            margin: 0 auto;
            max-width: 90%;
        }


        &--city {
            border: 13px solid #E9817A;
            background-color: $red;
            color: #fff;
            // width: 400px;
            max-width: 90%;

            .favorites--item-header {
                top: 30px;
                left: 20px;
                right: 80px;
            }

            .modal-content-close {
                background: #E9817A;
                top: 0;
                right: -1px;
                width: 45px;
                height: 45px;
                display: flex;
                align-items: center;
                justify-content: center;
                z-index: 2;
            }

            .modal-content-body {
                padding: 0;
                width: 100%;
                max-width: 100%;
            }
        }

    }

    &-open {
        opacity: 1;
        transition: all .25s ease-in-out;
        z-index: 3;

        .modal-content {
            transform: translate(-50%, -50%);
            transition: all .5s ease-in-out;
            transition-delay: .25s;
            z-index: 9999;
            opacity: 1;
        }
    }

    &--footer {
        display: flex;
        justify-content: space-between;

        &-col {
            flex: 50%;
        }

        &-image-wrapper {
            flex: 50%;
            background: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            top: 13px;
            left: -13px;
        }

        .reports--link {
            display: flex;
            flex-direction: column;
            margin-bottom: 15px;
            margin-top: 20px;
        }
    }

    &-city {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        max-width: 100%;
        max-height: 100%;

        &-header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .modal-content-close {
                position: relative;
                right: 0;
                top: 0;
                color: #fff;
            }
        }

        &-desc {
            max-width: 400px;
            text-align: left;

        }

        &-name {
            font-size: 40px;
        }

        &-actions {
            display: flex;
            flex-wrap: wrap;

            @media (max-width: 767px) {
                .btn {
                    flex: 1;
                }

                #swiper-pagination {
                    flex: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: 1.5rem;
                }
            }
        }

        &-content {
            z-index: 2;
            position: relative;
            height: 100%;
            width: 100%;
            // background: linear-gradient(0deg, #D94339, 35%, transparent 45%);
            padding: 30px;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .swiper {
            position: absolute;
        }
    }

    .swiper {
        padding-bottom: 0;
    }

    .swiper-button-prev,
    .swiper-button-next {
        background: #FFFFFF;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 67.85px;
        height: 67.85px;
        top: calc(50% - 33px) !important;
        @media (max-width: 991px) {
            transform: scale(.75);
        }
    }

    .swiper-button-prev {
        left: -33px;

        @media (max-width: 767px) {
            left: 15px;
        }
    }

    .swiper-button-next {
        right: -33px;

        @media (max-width: 767px) {
            right: 15px;
            ;
        }
    }

    .link__arrow span,
    .link__line {
        background-color: #fff;
    }

    .link-prev {
        margin-right: -15px;
    }

    .link-next {
        margin-left: -15px;
    }
}

.modal {

    .swiper-button-next,
    .swiper-button-prev {

        .link__arrow span,
        .link__line {
            background-color: #2F3445;
        }
    }

    &--voting {
        .modal-content-close{
            color: #fff;
        }
        .modal-content {
            background: #D94339;
            border: 24px solid #fff;
            height: fit-content;

            .text {
                font-weight: 400;
                font-size: 20px;
                line-height: 24px;
                text-align: center;
                color: #FFFFFF;
            }

            .btn {
                margin: 2rem auto;
            }
        }
    }
}
.modal-content-city{
    background-color: #2F3445;
}