@font-face {
  font-family: 'Asap';
  src: url('../fonts/AsapBold/Asap-Bold.woff2') format('woff2'),
      url('../fonts/AsapBold/Asap-Bold.woff2') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arizonia';
  src: url('../fonts/ArizoniaRegular/Arizonia-Regular.woff2') format('woff2'),
      url('../fonts/ArizoniaRegular/Arizonia-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aaux ProBold';
  src: url('../fonts/AauxProBold/AauxProBold.woff2') format('woff2'),
      url('../fonts/AauxProBold/AauxProBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aaux ProLight';
  src: url('../fonts/AauxProLight/AauxProLight.woff2') format('woff2'),
      url('../fonts/AauxProLight/AauxProLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Asap';
  src: url('../fonts/AsapItalic/Asap-Italic.woff2') format('woff2'),
      url('../fonts/AsapItalic/Asap-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Asap';
  src: url('../fonts/AsapRegular/Asap-Regular.woff2') format('woff2'),
      url('../fonts/AsapRegular/Asap-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Asap';
  src: url('../fonts/AsapMedium/Asap-Medium.woff2') format('woff2'),
      url('../fonts/AsapMedium/Asap-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}