.text {
    &-white {
        color: $white;
    }

    &-red {
        color: $red;
    }

    &-blue {
        color: $blue;
    }

    &-center {
        text-align: center;
    }

    &-right {
        text-align: right;
    }

    &-large {
        font-size: 11vw;
        @media (min-width: 1800px) {
            font-size: 180px;
        }
    }

    &-normal {
        font-size: 20px;
        line-height: 28px;
    }

    &-headline {
        font-size: 30px;
        line-height: 37px;
    }
}

.font {
    &__arizonia {
        font-family: 'Arizonia';
    }

    &__asap {
        font-family: 'Asap';

        &--italic {
            font-style: italic;
        }

        &--medium {
            font-weight: 500;
        }

        &--bold {
            font-weight: bold;
        }
    }

    &__aaux-light {
        font-family: 'Aaux ProLight';
    }
}